@model TimelessTechnicians.UI.ViewModel.ReAdmissionHistoryViewModel
@await Html.PartialAsync("_Notification")
@await Html.PartialAsync("_Navbar")
<h2>Re-Admit History</h2>


<form method="get" asp-action="ReAdmissionHistory">
    <div class="form-group">
        <label for="searchTerm">Search:</label>
        <input type="text" id="searchTerm" name="searchTerm" class="form-control" value="@Model.SearchTerm" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Re-Admit Date</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReAdmissionHistories)
        {
            <tr>
                <td>@item.AdmitPatient.Patient.FirstName @item.AdmitPatient.Patient.LastName</td>
                <td>@item.ReAdmissionDate.ToString("dd/MM/yyyy")</td>
                <td>@item.Reason</td>
            </tr>
        }
    </tbody>
</table>


<nav>
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="ReAdmissionHistory" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="ReAdmissionHistory" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@i">@i</a>
            </li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="ReAdmissionHistory" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>
